<header>
    <link rel="stylesheet" href="/css/navbar.css">
    <nav>
        <a  class="animation" href="/">Home</a>
        
        <% if (logged_in) { %>
            <a class="animation" href="/profile">Profile</a>
            <a class="animation" href="/received_messages">See Messages</a>
        <% } else { %>
            <a class="animation" href="/login">Login</a>
            <a class="animation" href="/register">Register</a>
        <% } %>
    </nav>
</header>